/env
.python-version
/data/
/config
.env
__pycache__/
.DS_Store
config.ini
*.egg-info
/logs
.pytest_cache
scripts/data/checkpoints/

# Airflow
airflow/logs/
airflow/.env
airflow/config/
airflow/plugins/
airflow.db
airflow.cfg
webserver_config.py