apache-airflow==2.10.4
basketball_reference_web_scraper==4.15.3
beautifulsoup4==4.13.3
fastapi==0.115.8
Flask_AppBuilder==4.5.2
numpy==1.26.4
pandas==2.1.4
pendulum==3.0.0
pydantic==2.10.5
pytest==8.3.4
Requests==2.32.3
SQLAlchemy==1.4.54
